<h1>Admin page</h1>

<br>

<h3>Admin : @User.Identity.Name</h3>

<a asp-action="CreateTokens" asp-controller="Admin">Create tokens</a>
<br><br>
<a asp-action="CreateAdmin" asp-controller="Admin">Create admin</a>