<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechnicalSupport</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_chat.css" />
    <script src=@Url.Content("~/lib/aspnet/signalr/dist/browser/signalr.js")></script>

    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/Employee.css" rel="stylesheet" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TechnicalSupport</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">My Account</a>
                        </li>
                        @if (User.IsInRole("EMPLOYEE"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Employee">Employee Page</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <button onclick="ToggleChat()" id="ChatOpenButton" title="Open Chat"> <i class="fa fa-comments"></i></button>
        </main>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()




            <div class="user-chat-container" id="user-chat-container">
                @await Html.PartialAsync("_Chat")
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TechnicalSupport
            <div class="footer-icon">
                <ul>
                    <li><a title="Telegram" href="tg://resolve?domain=yuhim93"> </a></li>
                    <li><a title="Telegram" href="tg://resolve?domain=yuhim93">  </a></li>
                    <li><a title="Telegram" href="tg://resolve?domain=yuhim93">  </a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/User.js"></script>
    <script src="~/js/_chatUser.js"></script>
</body>
</html>
